{% extends "template.html" %}
{% load static %}

{% block title %}{{ title }} | Головна сторінка{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/desktop/about.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile/about.css' %}">
<meta name="description" content="Генерація 3D-моделей молекул за формулою або назвою речовини.">
<meta name="author" content="C1PL3R">
<meta name="keywords" content="хімія, молекули, 3D, 2D, генерація, SMILES, навчання, ChemVisualizer">
{% endblock %}

{% block content %}
<section class="text">
    <span id="title" style="display: none;">{{ title }} | Про проєкт</span>

    <h2>Опис проєкту {{ title }}</h2>

    <p><strong>{{ title }}</strong> — це потужний веб-інструмент для хімічних досліджень, що дозволяє
        <strong>генерувати
            та візуалізувати молекули в 3D форматі</strong>. Використовуючи SMILES-коди або
        назви
        молекул, користувачі можуть легко отримувати точні графічні зображення молекул, а також досліджувати їх
        структуру в
        інтерактивному 3D середовищі.
    </p>

    <p>Цей проєкт орієнтований на <strong>вчених, учнів, студентів та хіміків</strong>, які займаються хімічними
        дослідженнями
        або
        освітою. <strong>{{ title }}</strong> дозволяє не тільки візуалізувати молекули, але й взаємодіяти з ними,
        обертати та масштабувати структури для кращого розуміння просторового розташування атомів та зв’язків.</p>

    <h3>Ключові можливості:</h3>
    <ul>
        <li><strong>Інтерактивна 3D-візуалізація</strong> молекул за допомогою потужних бібліотек, таких як
            <strong>3Dmol.js</strong>.
        </li>
        <li>Генерація <strong>3D-зображень молекул</strong> для використання в навчальних матеріалах та наукових
            роботах.
        </li>
        <li><strong>Підтримка різних форматів введення</strong>, включаючи SMILES.
        </li>
        <li><strong>Автоматичне отримання даних</strong> про молекули з відкритих хімічних баз даних (наприклад,
            PubChem).
        </li>
    </ul>

    <p><strong>{{ title }}</strong> дає змогу вивчати молекули на глибшому рівні та робить цей процес більш зручним і
        доступним.</p>
</section>
{% endblock %}