{% extends "template.html" %}
{% load static %}

{% block title %}{{ title }} | Головна сторінка{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/desktop/about.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile/about.css' %}">
<meta name="description" content="Що таке SMILES? Пояснення">
<meta name="author" content="C1PL3R">
<meta name="keywords" content="хімія, молекули, 3D, 2D, генерація, SMILES, навчання, ChemVisualizer">
{% endblock %}

{% block content %}
<section class="text">
    <h2>Що таке SMILES?</h2>
    <p><strong>SMILES</strong> (Simplified Molecular Input Line Entry System) — це система запису хімічних структур
        молекул у вигляді текстового рядка. Вона дає можливість записувати молекули компактно і зручно для зберігання та
        обміну інформацією. SMILES є широко використовуваним форматом у хімічній інформатиці та комп'ютерній хімії.</p>

    <br>
    <h2>Основні принципи запису:</h2>
    <ul>
        <li><strong>Атоми:</strong> Використовуються символи хімічних елементів. Наприклад, "C" для вуглецю, "O" для
            кисню.</li>
        <li><strong>Зв'язки:</strong> Простий зв'язок між атомами не позначається, подвійні зв'язки записуються як "=",
            потрійні як "#".</li>
        <li><strong>Групи та цикли:</strong> Для запису циклічних структур використовуються числа, наприклад, "C1CCCCC1"
            для циклоалкану.</li>
        <li><strong>Водень:</strong> Водень зазвичай не записується, адже він вважається частиною стандартної хімічної
            структури.</li>
    </ul>

    <h2>Приклад SMILES:</h2>
    <ul>
        <li><strong>Цукор:</strong>
            "C([C@@H]1[C@H]([C@@H]([C@H]([C@H](O1)O[C@]2([C@H]([C@@H]([C@H](O2)CO)O)O)CO)O)O)O)O" (C12H22O11)</li>
        <li><strong>Етаналь:</strong> "CC=O" (C2H4O)</li>
        <li><strong>Бензен:</strong> "C1=CC=CC=C1" (C6H6)</li>
        <li><strong>Вода:</strong> "O" (H2O)</li>
    </ul>

    <h2>Чому SMILES важливий?</h2>
    <p>SMILES дозволяє зберігати інформацію про молекули в компактному та зручному форматі, що є особливо важливим для
        великих баз даних і для використання в хімічних симуляціях та обчисленнях.</p>
    </div>
</section>
{% endblock %}