{% extends "template.html" %}
{% load static %}

{% block title %}{{ title }} | Головна сторінка{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/desktop/about.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile/about.css' %}">
<meta name="description" content="Генерація 3D-моделей молекул за формулою або назвою речовини.">
<meta name="author" content="C1PL3R">
<meta name="keywords" content="хімія, молекули, 3D, 2D, генерація, SMILES, навчання, ChemVisualizer">
{% endblock %}

{% block content %}
<section class="text">

</section>
{% endblock %}